*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12vh;
    background-color: #FBFBFB;
}

.cadastro {
  width: 100%;
  height: 55vh;
  background-image: url(../images/fundo.png);
  background-size: cover;
}


#caixa-email {
    width: 60vh;
    height: 63vh;
    background-color: #dedfe0b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    border-radius: 2vh;
    flex-shrink: 0;
    margin-top: -32vh;
}

.titulo-login {
  margin-top: 7vh;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 7vh;
}

.emailCadastro input, .senhaCadastro input, .telefoneCadastro input {
    margin-bottom: 4vh;
    border-radius: 1vh;
    width: 35vh;
    height: 4.5vh;
    border: 0;
    transform: transform 0.3 ease;
}

.caixa-botao {
  width: 390px;
  height: 60px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  transform: transform 0.3 ease;
}

.botao {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.emailCadastro input:hover, .senhaCadastro input:hover, .telefoneCadastro input:hover, .caixa-botao:hover {
    transform: scale(1.02);
}

