*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 12vh;
}



#caixa-email {
    width: 396px;
    height: 300px;
    background-color: #DEDFE0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

#caixa-senha {
    width: 396px;
    height: 57px;
    flex-shrink: 0;
}

#caixa-telefone {
    width: 396px;
    height: 57px;
    flex-shrink:0;
}
.botao-cadastro {
   
}