* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 12vh;
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 10vh;
}

.imagem-fundo {
  width: 100%;
  height: 55vh;
  background-image: url(../images/fundo.png);
  background-size: cover;
}

#caixa-email {
  border-radius: 10px;
  width: 450px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #dedfe0b2;
  margin-top: -32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:baseline;
}

.titulo-login {
  margin-top: 7vh;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 7vh;
}

.emailLogin input, .senhaLogin input, .telefoneLogin input {
  margin-bottom: 4vh;
  border-radius: 1vh;
  width: 35vh;
  height: 4.5vh;
  border: 0;
  transform: transform 0.3 ease;
}

.emailLogin input:hover, .senhaLogin input:hover, .telefoneLogin input:hover {
  transform: scale(1.02);
}

.botao {
  width: 390px;
  height: 60px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.link p{
    text-align: center;
    padding-top: 10px;
}