* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 12vh;
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 10vh;
}

.imagem-fundo {
  width: 100%;
  height: 55vh;
  background-image: url(../images/fundo.png);
  background-size: cover;
}

#caixa-email {
  border-radius: 1vh;
  width: 60vh;
  height: 63vh;
  flex-shrink: 0;
  border-radius: 2vh;
  background: #dedfe0b2;
  margin-top: -32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:baseline;
}

.titulo-login {
  margin-top: 7vh;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 7vh;
}

.emailLogin input, .senhaLogin input, .telefoneLogin input {
  margin-bottom: 4vh;
  border-radius: 1vh;
  width: 35vh;
  height: 4.5vh;
  border: 0;
  transform: transform 0.3 ease;
  padding-left: 2vh;
}

input::placeholder {
  font-size: 1.8vh;
}

.botao {
  width: 39vh;
  height: 7vh;
  border-radius: 8px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  transform: transform 0.3 ease;
}

.emailLogin input:hover, .senhaLogin input:hover, .telefoneLogin input:hover, .botao:hover {
  transform: scale(1.02);
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

@media (max-width: 768px) {
  header {
    height: 10vh;
  }

  .logo {
    height: 7vh;
  }

  .imagem-fundo{
    height: 40vh;
    background-position: center;
  }

  #caixa-email {
    width: 85%;
    height: auto;
    margin-top: -20vh;
    padding: 4vh 2vh;
  }

  .titulo-login {
    font-size: 3vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
  }

  .emailLogin input, .senhaLogin input, .telefoneLogin input {
    width: 90%;
    height: 5vh;
    font-size: 2vh;
  }

  .botao {
    width: 90%;
    height: 6vh;
    font-size: 2vh;
  }

  .link {
    font-size: 2vh;
  }
}

