* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-menu {
  width: 100%;
  height: 13vh;
  background-color: #0c0000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2vh;
}

.minz-menu {
  position: absolute;
  left: 5vh;
  font-size: 4vh;
  color: white;
  font-family: "Gloock", serif;
  font-weight: 1;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.navegacao {
  display: flex;
  align-items: center;
}

.seta-menu {
  width: 3vh;
  height: 3vh;
  cursor: pointer;
  margin-right: 2vh;
}

.barra-pesquisa {
  position: relative;
  background-color: #0c0000;
  border: 0.2vh solid white;
  border-radius: 4vh;
  display: flex;
  align-items: center;
  padding: 0.8vh 2vh;
  width: 100vh;
}

.barra-pesquisa input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2.7vh;
  font-weight: 1;
  letter-spacing: 0.1vh;
  width: 100%;
}

.barra-pesquisa input[type="text"]::placeholder {
  color: #cccc;
}

.icones-menu {
  flex-wrap: wrap;
  position: absolute;
  right: 5vh;
  display: flex;
  align-items: center;
  gap: 1vh;
}

.suporte-icon {
  width: 7.5vh;
  height: 7vh;
  margin-right: 1vh;
  cursor: pointer;
}

.icone-devs {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
}

.carrinho-compras {
  width: 4.7vh;
  height: 4.7vh;
  margin: 0.5vh;
  cursor: pointer;
}

.icone-usuario {
  width: 6.7vh;
  height: 6.7vh;
  cursor: pointer;
}

.secoes {
  font-family: "Inter", serif;
  font-size: 2vh;
  font-weight: 1;
  letter-spacing: 0.1vh;
  width: 100%;
  height: 7vh;
  background-color: #e5c9cc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.acessorios,
.moda-feminina,
.moda-masculina,
.perfumes,
.infantil {
  text-decoration: none;
  cursor: pointer;
}

/* Suporte Section */
.quadrado-titulo {
  width: 60vh;
  height: 10vh;
  background-color: #d9d9d9;
  border-radius: 5vh;
  margin-top: 6vh;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  word-wrap: break-word;
}

.titulo-suporte {
  font-family: "Gloock", serif;
  font-weight: 1;
  font-size: 4vh;
  color: #0c0000;
  letter-spacing: 0.1vh;
}

.subtitulo-suporte {
  font-family: "Gloock", serif;
  font-weight: 1;
  font-size: 3vh;
  color: #847878;
  margin-top: 1vh;
  text-align: center;
  letter-spacing: 0.1vh;
}

.containers-suporte {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.container-email,
.container-telefone,
.container-chat {
  width: 25vh;
  height: 15vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icone-email, .icone-chat {
  width: 8vh;
  height: 8vh;
}

.texto-email,
.texto-telefone,
.texto-chat {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 3vh;
  color: #0c0000;
  text-align: center;
  margin-top: 1vh;
  letter-spacing: 0.1vh;
  white-space: nowrap;
}

.endereco-email,
.texto-numero,
.texto-insta {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 2vh;
  color: #0c0000;
  text-align: center;
  letter-spacing: 0.1vh;
  white-space: nowrap;
}

.texto-telefone {
  margin-top: 2.1vh;
}

.texto-chat {
  margin-bottom: 3.6vh;
}

.texto-insta {
  position: absolute;
  margin-top: 12.5vh;
}

.icone-telefone {
  width: 7vh;
  height: 7vh;
}

.images {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.manequins {
  width: 80vh;
  height: 40vh;
  border-radius: 5vh;
  margin-right: 2vh;
}

.imagens {
  display: flex;
  flex-direction: column;
}

.arara-de-roupas {
  width: 60vh;
  height: 12vh;
  border-radius: 5vh;
}

.conjunto-imagens {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  gap: 2vh;
}

.moda-manequins {
  width: 60vh;
  height: 27vh;
  border-radius: 5vh;
}

.sobre-a-empresa {
  height: 180px;
  background-color: #f1e0e2;
  margin-top: 10px;
  display: flex;
}

.tracinho-sobre {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 40px;
  align-self: center;
}

.sobre-textos {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 15px;
}

.sobre-titulo {
  font-size: 32px;
  color: #795f61;
}

.textinhos-sobre {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  text-decoration-color: #ab8a8e;
  cursor: pointer;
}

.nossa-empresa {
  color: #ab8a8e;
}

.relacao-investidores {
  color: #ab8a8e;
}

.sustentabilidade {
  color: #ab8a8e;
}

.blog {
  color: #ab8a8e;
}

.nossa-empresa:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.sustentabilidade:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.relacao-investidores:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.blog:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.tracinho-media {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 70px;
  align-self: center;
}

.encontre-nos {
  margin-top: 8px;
  margin-left: 15px;
}

.media-titulo {
  font-size: 32px;
  color: #795f61;
}

.social-medias {
  display: flex;
  flex-direction: column;
}

.instagram {
  display: flex;
}

.instagram-logo {
  width: 30px;
  height: 30px;
}

.texto-instagram {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 3px;
}

.texto-instagram:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.facebook {
  display: flex;
}

.facebook {
  width: 27px;
  height: 27px;
  margin-left: 1px;
}

.texto-facebook {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 3px;
}

.texto-facebook:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.youtube {
  display: flex;
}

.youtube-logo {
  width: 26px;
  height: 26px;
  margin-left: 2px;
}

.texto-youtube {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 3px;
}

.texto-youtube:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.linkedin {
  display: flex;
}

.linkedin-logo {
  width: 30px;
  height: 30px;
}

.texto-linkedin {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 1px;
}

.texto-linkedin:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.tracinho-temporadas {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 70px;
  align-self: center;
}

.temporadas-textos {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 15px;
}

.temporadas-titulo {
  font-size: 32px;
  color: #795f61;
}

.textinhos-temporadas {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  text-decoration-color: #ab8a8e;
  cursor: pointer;
}

.dia-do-consumidor {
  color: #ab8a8e;
}

.dia-das-mulheres {
  color: #ab8a8e;
}

.dia-das-maes {
  color: #ab8a8e;
}

.dia-da-moda {
  color: #ab8a8e;
}

.dia-do-consumidor:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.dia-das-maes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.dia-das-mulheres:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.dia-da-moda:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.tracinho-contato {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 70px;
  align-self: center;
}

.temporadas-contato {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 15px;
}

.contato-titulo {
  font-size: 32px;
  color: #795f61;
}

.textinhos-contato {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  text-decoration-color: #ab8a8e;
  cursor: pointer;
}

.comprar {
  color: #ab8a8e;
}

.vender {
  color: #ab8a8e;
}

.solucao-de-problemas {
  color: #ab8a8e;
}

.seguranca {
  color: #ab8a8e;
}

.comprar:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.solucao-de-problemas:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.vender:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.seguranca:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.informacoes-empresa {
  height: 86px;
  background-color: #fff6f6;
  align-content: center;
  margin-left: 10px;
}

.informacoes-textos {
  display: flex;
  flex-direction: column;
  color: #b1979a;
}

.textinhos {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  gap: 10px;
}

.trabalhe-conosco {
  cursor: pointer;
  text-decoration: underline;
}

.termos-e-condicoes {
  cursor: pointer;
  text-decoration: underline;
}

.promocoes {
  cursor: pointer;
  text-decoration: underline;
}

.acessibilidade {
  cursor: pointer;
  text-decoration: underline;
}

.seguros {
  cursor: pointer;
  text-decoration: underline;
}

.privacidade {
  cursor: pointer;
  text-decoration: underline;
}

.afiliados {
  cursor: pointer;
  text-decoration: underline;
}

.presentes {
  cursor: pointer;
  text-decoration: underline;
}

.trabalhe-conosco:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.termos-e-condicoes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.promocoes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.acessibilidade:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.seguros:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.privacidade:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.afiliados:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.presentes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.copywright {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.cnpj {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-top: 3px;
}

/* Responsividade */

@media (max-width: 768px) {
  /*header*/
  .barra-menu {
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
  }

  .minz-menu {
    position: static;
    font-size: 3.5vh;
  }

  .barra-pesquisa {
    width: 85%;
    max-width: 35vh;
    height: 4.5vh;
    margin: 2vh auto;
    display: flex;
    align-items: center;
  }

  .barra-pesquisa input {
    width: 100%;
    height: 100%;
    font-size: 2vh;
    padding: 0 1.5vh;
  }

  .icones-menu {
    position: static;
    gap: 1.5vh;
  }

  .suporte-icon {
    width: 6.3vh;
    height: 5.7vh;
  }

  .icone-devs,
  .icone-usuario {
    width: 5vh;
    height: 5vh;
  }

  .carrinho-compras {
    width: 4vh;
    height: 4vh;
  }

  /*Suporte*/
  .secoes {
    flex-wrap: wrap;
    height: auto;
    font-size: 1.8vh;
    gap: 2vh;
    padding: 1.5vh;
    text-align: center;
  }

  .quadrado-titulo {
    width: 90%;
    height: auto;
    padding: 2vh;
    font-size: 3.5vh;
    margin-top: 4vh;
  }

  .subtitulo-suporte {
    font-size: 2.5vh;
    margin-top: 2vh;
    padding: 0 2vh;
  }

  .containers-suporte {
    flex-direction: column;
    gap: 3vh;
    margin-top: 4vh;
  }

  .container-email,
  .container-chat,
  .container-telefone {
    width: 80%;
    height: auto;
  }

  .icone-email,
  .icone-telefone,
  .icone-chat {
    width: 7vh;
    height: 7vh;
  }

  .texto-chat,
  .texto-email,
  .texto-telefone {
    font-size: 2.2vh;
    margin-top: 1vh;
    overflow-wrap: break-word;
  }

  .endereco-email,
  .texto-numero,
  .texto-insta {
    font-size: 2vh;
  }

  .texto-insta {
    margin-bottom: 1.9vh;
  }

  .images {
    justify-items: center;
    align-items: center;
  }

  .manequins {
    width: 90%;
    height: auto;
    margin-left: 5vh;
  }

  .arara-de-roupas, .moda-manequins {
    visibility: hidden;
    display: none;
  }

  /*footer*/
  footer {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .sobre-a-empresa {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .tracinho-sobre,
  .tracinho-media,
  .tracinho-contato,
  .tracinho-temporadas {
    display: none;
  }

  .informacoes-empresa {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .textinhos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}

/* Direcionamento de páginas */
.links {
  text-decoration: none;
  color: inherit;
}
