* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-menu {
  width: 100%;
  height: 13vh;
  background-color: #0c0000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2vh;
}

.minz-menu {
  position: absolute;
  left: 5vh;
  font-size: 4vh;
  color: white;
  font-family: "Gloock", serif;
  font-weight: 1;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.navegacao {
  display: flex;
  align-items: center;
}

.seta-menu {
  width: 3vh;
  height: 3vh;
  cursor: pointer;
  margin-right: 2vh;
}

.barra-pesquisa {
  position: relative;
  background-color: #0c0000;
  border: 0.2vh solid white;
  border-radius: 4vh;
  display: flex;
  align-items: center;
  padding: 0.8vh 2vh;
  width: 100vh;
}

.barra-pesquisa input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2.7vh;
  font-weight: 1;
  letter-spacing: 0.1vh;
  width: 100%;
}

.barra-pesquisa input[type="text"]::placeholder {
  color: #cccc;
}

.icones-menu {
  position: absolute;
  right: 5vh;
  display: flex;
  align-items: center;
  gap: 1vh;
}

.suporte-icon {
  width: 7.5vh;
  height: 7vh;
  margin-right: 1vh;
  cursor: pointer;
}

.icone-devs {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
}

.carrinho-compras {
  width: 4.7vh;
  height: 4.7vh;
  margin: 0.5vh;
  cursor: pointer;
}

.icone-usuario {
  width: 6.7vh;
  height: 6.7vh;
  cursor: pointer;
}

.secoes {
  font-size: 15px;
  width: 100%;
  height: 55px;
  background-color: #e5c9cc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.acessorios,
.moda-feminina,
.moda-masculina,
.perfumes,
.infantil {
  text-decoration: none;
  cursor: pointer;
}

/* Suporte Section */
.quadrado-titulo {
  width: 300px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 30px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  word-wrap: break-word;
}

.titulo-suporte {
  font-family: "Gloock", serif;
  font-weight: 1;
  font-size: 25px;
  color: #0c0000;
  letter-spacing: 1px;
}

.subtitulo-suporte {
  font-family: "Gloock", serif;
  font-weight: 1;
  font-size: 20px;
  color: #847878;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.containers-suporte {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container-email {
  width: 250px;
  height: 150px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icone-email {
  width: 61px;
  height: 61px;
}

.texto-email {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px;
  color: #0c0000;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}

.endereco-email {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  color: #0c0000;
  text-align: center;
  letter-spacing: 1px;
}

.container-telefone {
  width: 250px;
  height: 150px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icone-telefone {
  width: 50px;
  height: 50px;
}

.texto-telefone {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px;
  color: #0c0000;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
}

.texto-numero {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  color: #0c0000;
  text-align: center;
  letter-spacing: 1px;
}

.container-chat {
  width: 250px;
  height: 150px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icone-chat {
  width: 61px;
  height: 61px;
}

.texto-chat {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px;
  color: #0c0000;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;
}

.texto-insta {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  color: #0c0000;
  text-align: center;
  letter-spacing: 1px;
}

.images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.manequins {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  margin-right: 20px;
}

.imagens {
  display: flex;
  flex-direction: column;
}

.arara-de-roupas {
  width: 400px;
  height: 190px;
  border-radius: 20px;
}

.conjunto-imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.moda-manequins {
  width: 130px;
  height: 102px;
  border-radius: 20px;
}

.modelos-book {
  width: 130px;
  height: 102px;
  border-radius: 20px;
  margin-left: 3px;
}

.desfile {
  width: 130px;
  height: 102px;
  border-radius: 20px;
  margin-left: 3px;
}

.sobre-a-empresa {
  height: 180px;
  background-color: #f1e0e2;
  margin-top: 10px;
  display: flex;
}

.tracinho-sobre {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 40px;
  align-self: center;
}

.sobre-textos {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 15px;
}

.sobre-titulo {
  font-size: 32px;
  color: #795f61;
}

.textinhos-sobre {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  text-decoration-color: #ab8a8e;
  cursor: pointer;
}

.nossa-empresa {
  color: #ab8a8e;
}

.relacao-investidores {
  color: #ab8a8e;
}

.sustentabilidade {
  color: #ab8a8e;
}

.blog {
  color: #ab8a8e;
}

.nossa-empresa:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.sustentabilidade:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.relacao-investidores:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.blog:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.tracinho-media {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 70px;
  align-self: center;
}

.encontre-nos {
  margin-top: 8px;
  margin-left: 15px;
}

.media-titulo {
  font-size: 32px;
  color: #795f61;
}

.social-medias {
  display: flex;
  flex-direction: column;
}

.instagram {
  display: flex;
}

.instagram-logo {
  width: 30px;
  height: 30px;
}

.texto-instagram {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 3px;
}

.texto-instagram:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.facebook {
  display: flex;
}

.facebook {
  width: 27px;
  height: 27px;
  margin-left: 1px;
}

.texto-facebook {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 3px;
}

.texto-facebook:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.youtube {
  display: flex;
}

.youtube-logo {
  width: 26px;
  height: 26px;
  margin-left: 2px;
}

.texto-youtube {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 3px;
}

.texto-youtube:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.linkedin {
  display: flex;
}

.linkedin-logo {
  width: 30px;
  height: 30px;
}

.texto-linkedin {
  font-family: "Inter", sans-serif;
  color: #ab8a8e;
  text-decoration: underline;
  align-self: center;
  margin-left: 1px;
}

.texto-linkedin:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.tracinho-temporadas {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 70px;
  align-self: center;
}

.temporadas-textos {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 15px;
}

.temporadas-titulo {
  font-size: 32px;
  color: #795f61;
}

.textinhos-temporadas {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  text-decoration-color: #ab8a8e;
  cursor: pointer;
}

.dia-do-consumidor {
  color: #ab8a8e;
}

.dia-das-mulheres {
  color: #ab8a8e;
}

.dia-das-maes {
  color: #ab8a8e;
}

.dia-da-moda {
  color: #ab8a8e;
}

.dia-do-consumidor:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.dia-das-maes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.dia-das-mulheres:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.dia-da-moda:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.tracinho-contato {
  width: 6px;
  height: 150px;
  border-radius: 20px;
  background: #a98c8f;
  margin-left: 70px;
  align-self: center;
}

.temporadas-contato {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 15px;
}

.contato-titulo {
  font-size: 32px;
  color: #795f61;
}

.textinhos-contato {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  text-decoration-color: #ab8a8e;
  cursor: pointer;
}

.comprar {
  color: #ab8a8e;
}

.vender {
  color: #ab8a8e;
}

.solucao-de-problemas {
  color: #ab8a8e;
}

.seguranca {
  color: #ab8a8e;
}

.comprar:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.solucao-de-problemas:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.vender:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.seguranca:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.informacoes-empresa {
  height: 86px;
  background-color: #fff6f6;
  align-content: center;
  margin-left: 10px;
}

.informacoes-textos {
  display: flex;
  flex-direction: column;
  color: #b1979a;
}

.textinhos {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  gap: 10px;
}

.trabalhe-conosco {
  cursor: pointer;
  text-decoration: underline;
}

.termos-e-condicoes {
  cursor: pointer;
  text-decoration: underline;
}

.promocoes {
  cursor: pointer;
  text-decoration: underline;
}

.acessibilidade {
  cursor: pointer;
  text-decoration: underline;
}

.seguros {
  cursor: pointer;
  text-decoration: underline;
}

.privacidade {
  cursor: pointer;
  text-decoration: underline;
}

.afiliados {
  cursor: pointer;
  text-decoration: underline;
}

.presentes {
  cursor: pointer;
  text-decoration: underline;
}

.trabalhe-conosco:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.termos-e-condicoes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.promocoes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.acessibilidade:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.seguros:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.privacidade:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.afiliados:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.presentes:hover {
  text-decoration-color: #795f61;
  color: #795f61;
}

.copywright {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.cnpj {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-top: 3px;
}

/* Responsividade */

@media (max-width: 768px) {
  /*header*/
  .barra-menu {
    height: 10vh;
    justify-content: space-between;
    padding: 0 3vh;
  }

  .minz-menu {
    position: static;
    left: 3vh;
    font-size: 4vh;
    white-space: nowrap;
  }

  .barra-pesquisa {
    position: static;
    max-width: 37vh;
    height: 5vh;
    padding: 2vh 2vh;
  }

  .icones-menu {
    position: static;
    right: 3vh;
  }

  .suporte-icon {
    width: 6.3vh;
    height: 5.7vh;
  }

  .icone-devs,
  .icone-usuario {
    width: 5vh;
    height: 5vh;
  }

  .carrinho-compras {
    width: 4vh;
    height: 4vh;
  }

  /*Suporte*/
.containers-suporte {
  gap: 0px;
}

.icone-email {
  width: 45px;
  height: 45px;
}

.icone-telefone {
  width: 42px;
  height: 42px;
}

.icone-chat {
  width: 45px;
  height: 45px;
}

.texto-chat {
  font-size: 15px;
  margin-top: 5px;
}

.texto-telefone {
  font-size: 15px;
  margin-top: 8px;
}

.texto-email {
  font-size: 15px;
  margin-top: 5px;
}

.endereco-email {
  font-size: 13px;
}

.texto-insta {
  font-size: 13px;
}

.texto-numero {
  font-size: 13px;
}

.images {
  justify-items: center;
  align-items: center;
}

.manequins {
  width: 320px;
  height: 200px;
  margin-right: 5px;
}

.conjunto-imagens {
  margin-top: 0px;
  gap: 1px;
}

.arara-de-roupas {
  width: 290px;
  height: 200px;
}

.moda-manequins {
  visibility: hidden;
  display: none;
}

.modelos-book {
  visibility: hidden;
  display: none;
}

.desfile {
  visibility: hidden;
  display: none;
}

  /*footer*/
  footer {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .sobre-a-empresa {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .tracinho-sobre,
  .tracinho-media,
  .tracinho-contato,
  .tracinho-temporadas {
    display: none;
  }

  .informacoes-empresa {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .textinhos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}

/* Direcionamento de páginas */
.links {
    text-decoration: none;
    color: inherit;
}