*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}

header {
    background-color: black;
    padding: 35px;
}

main {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

#colecaoVerao {
    width: 50%;
    max-width: 950px;
    height: auto;
    aspect-ratio: 950/383.62701908957416;
    margin: 60px auto;
    background-image: url("../images/colecao-verao.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
}

.titulo-verao{
    font-size: 9vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin: 4vw;
}

#monteSeuLook {
    width: 30%;
    max-width: 345px;
    height: auto;
    aspect-ratio: 345/145;
    margin: 60px auto;
    margin-left: 10px;
    background-image: url("../images/monte-seu-look.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo-monteSeuLook{
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin: 3.5vw;
}

